/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 9, 2018, 8:21:48 PM
    Author     : Richard
*/

*
{
    box-sizing: border-box;
}

.grid
{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: minmax(200px, 20%) 4fr 10%;
    grid-template-areas:
    "head       head    head"
    "sidebar    feed    sidebar2"
    "foot       foot    foot";
}

header
{ 
    grid-area: head;
    background-color: lightgray;
}

feed
{
    grid-area: feed;
    background-color: darkgray;
}

aside
{
    grid-area: sidebar;
    background-color: lightgray;
}

aside2
{
    grid-area: sidebar2;
    background-color: lightgray;
}

footer
{
    grid-area: foot;
    background-color: lightgray;
}

/*--------------------------------------------------------------------*/

.feed-grid
{
    padding: 5px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr;
}

/*----------------------------------------------------------------------*/

.status
{
    background-color: lightgray;
    display: grid;
    padding: 5px;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

.title
{
    grid-column: 1 / -1;
}

.title > h1
{
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: 22px;
}

.content
{
    grid-column: 1 / -1;
}

.post-button
{
    grid-column: 1 / 2;
}

.post-button > input[type=submit]
{
    width: 100%;
    border: none;
    padding: 5px;
    font-size: 15px;
}

.post-button > input[type=submit]:hover
{
    background-color: darkgray;
}

/*------------------------------------------------------------*/

.post
{
    padding: 5px;
    background-color: lightgray;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(80px, auto) minmax(40px,auto);   
}

.post > .user 
{
    grid-column: 1 / -1;
    grid-row: 1;
    width: 100%;
    background-color: white;
}

.user > .profilepic
{
    float: left;
    background-color: gray;
    width: 100px;
    height: 100%;
}

.post > .content
{
    background-color: #666666;
}

.post > .timestamp
{
    text-align: right;
    grid-column: 4;
    grid-row: 1;
}
/*-----------------------------------------------------------------*/
input[type=submit]
{
    width: 100%;
    border: none;
    padding: 5px;
    font-size: 15px;
}

input[type=submit]:hover
{
    background-color: darkgray;
}

input
{
    width: 100%;
    border: none;
    padding: 5px;
    font-size: 15px;
}